<div class="carousel">
  <a class="prev" href="#">Atras</a>
  <div class="item">
    <img src="https://image.freepik.com/vector-gratis/ilustracion-de-carrusel-de-circo_23-2147534225.jpg" alt="" />
  </div>
  <div class="item hide">
    <img src="http://www.egasadistribucion.com/uploads/falgas/Falgas%20Carrusel.jpg" alt="" />
  </div>
  <div class="item hide">
    <img src="http://www.deininterdecor.com/upfiles/productes/A10052.JPG" alt="" />
  </div>
  <div class="item hide">
    <img src="http://www.latiendadealarcon.com/images/79213.jpg" alt="" />
  </div>
  <a href="#">Adelante</a>
</div>
