html {
  /* esto hace que siempre este toda la altura disponible */
  height: 100%;
}
body {
  /* de altura 100% */
  height: 100%;
}
main {
  /* contenedor principal, con el ancho esperado de 480px */
  background: #fff;
  width: 480px;
  min-height: 100%;
  margin: 0 auto;
}

/* algunos estilos basicos */
body {
  margin: 0;
  background: #ddd;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: green;
  text-decoration: none;
}
a:hover {
  color: #fc3;
  text-decoration: underline;
}

.link-logo {
  font-family:fantasy;
  color:#F5B105;
}

.logo{
  background-color: #D3F53E;
  text-align: center;
  font-size: 25px;
  padding: 10px;

}
.menu{
  background-color: #0541F5;
  display: inline-block;

}

.link-menu{
  display: inline-block;
  height: 55px;
  width: 225px;
  line-height: 60px;
  text-align: center;
  color: black;
  border-color: black;
  border-style: groove;

}
h1{
  text-align: center;
  color:darkblue;
}
